{{! Maintainers - Kristin Anthony}}
<div class="component-inner gameIframe-inner">
  {{> component this}}
  <div class="component-widget gameIframe-widget">
    <div class="gameIframe-iframe-holder" style="position: relative; height: 0; overflow: hidden; padding-bottom: 75%;">
      <img src="{{_loadingImg}}" />
      <iframe scrolling="{{#if _scrolling}}{{_scrolling}}{{else}}no{{/if}}" class="gameIframe-iframe" src=""
        style="position: absolute; top:0; left: 0; width: 100%; height: 100%;">
      </iframe>
    </div>
  </div>
</div>
